/* Cette page de style est celle de la page HTML correspondant D'accueil */


/* Initialisation de la page */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 150px;
    
}

section.top-page {
    background: url("../image/foret.jpg");
    background-size: cover;
    height: 60vh;
}

/* Menu de navigation header */

.navbar_header {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    width: 700px;
    margin-left: 450px;
}

.navbar_header li {
    color: white;
}

.landing-page {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Mise en style du corps de la page */
.Mid-page {
    margin-top: 100px;
    margin-left: 600px;
    width: 700px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #DADADA;
    
}

.Introduction {
    margin-bottom: 50px;
    text-align: center;
}

.Team {
    margin-bottom: 50px;
}

.Team img{
    height: 300px;
    width: 400px;
}

.Actions {
    
    margin-bottom: 100px;
}

.Actions h4 {
    text-align: start;
}
footer {
    display: flex;
    align-items: center;
    height: 20vh;
    background : url(../image/footer_background.jpg);
}

/* Menu de navigation footer */
.navbar_footer {
    display: flex;
    width: 1000px;
    margin-left: 500px;
    justify-content: space-between;
    font-size: x-large;
   
}

a {
    color: white;
}